[submodule "capdl"]
	path = capdl
	url = ../capdl.git
[submodule "kernel"]
	path = kernel
	url = ../sel4.git
[submodule "libs/musllibc"]
	path = libs/musllibc
	url = ../musllibc.git
[submodule "libs/projects_libs"]
	path = libs/projects_libs
	url = ../sel4proj-projects_libs.git
[submodule "libs/sel4_global_components"]
	path = libs/sel4_global_components
	url = ../sel4proj-global-components.git
[submodule "libs/sel4_libs"]
	path = libs/sel4_libs
	url = ../sel4_libs.git
[submodule "libs/sel4_projects_libs"]
	path = libs/sel4_projects_libs
	url = ../sel4_projects_libs.git
[submodule "libs/sel4_util_libs"]
	path = libs/sel4_util_libs
	url = ../util_libs.git
[submodule "libs/sel4runtime"]
	path = libs/sel4runtime
	url = ../sel4runtime
[submodule "tools/camkes"]
	path = tools/camkes
	url = ../camkes-tool.git
[submodule "tools/nanopb"]
	path = tools/nanopb
	url = ../nanopb.git
[submodule "tools/opensbi"]
	path = tools/opensbi
	url = ../github-riscv-opensbi.git
[submodule "tools/seL4"]
	path = tools/seL4
	url = ../sel4_tools.git
[submodule "libs/camkes-vm"]
	path = libs/camkes-vm
	url = ../camkes-vm.git
